.root {
  display: flex;
  position: relative;
  flex-direction: row;
  background: var(--token--obMasNZNDh_);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 20px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor_blue {
  background: var(--token-Be4EAoHdwHVx);
}
.rootcolor_green {
  background: var(--token-ZJtgmo5po1Kq);
}
.rootcolor_white {
  background: var(--token-Xfkr8BLsDL0O);
}
.rootcolor_clear {
  background: #ffffff00;
}
.rootcolor_link {
  background: #ffffff00;
}
.rootshape_rounded_showStartIcon {
  padding-left: 16px;
}
.rootshape_rounded_showEndIcon {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.root:hover {
  background: #282826;
}
.rootcolor_blue:hover {
  background: #369eff;
}
.rootcolor_green:hover {
  background: #3cb179;
}
.rootcolor_white:hover {
  background: #ffef5c;
}
.rootcolor_clear:hover {
  background: #e9e9e6;
}
.rootcolor_link:hover {
  background: #ffffff00;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:active {
  background: #2e2e2b;
}
.rootcolor_blue:active {
  background: #52a9ff;
}
.rootcolor_green:active {
  background: #4cc38a;
}
.rootcolor_white:active {
  background: #f0c000;
}
.rootcolor_clear:active {
  background: #e3e3e0;
}
.rootcolor_link:active {
  background: #ffffff00;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetStartIconcolor_link {
  color: #0081f1;
}
.rootcolor_link:active .slotTargetStartIconcolor_link {
  color: #006adc;
}
.svg___0QTeq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  color: var(--token-Xfkr8BLsDL0O);
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
}
.slotTargetChildrencolor_green {
  color: #ffffff;
}
.slotTargetChildrencolor_white {
  color: #1b1b18;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetChildrencolor_link {
  color: #0081f1;
}
.rootcolor_link:hover .slotTargetChildrencolor_link > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_link:active .slotTargetChildrencolor_link {
  color: #006adc;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetEndIconcolor_link {
  color: #0081f1;
}
.rootcolor_link:active .slotTargetEndIconcolor_link {
  color: #006adc;
}
.svg___2YHxi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
