.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.body__qGYmz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h1__aZgnd {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.text__ct4NC {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
