.root {
  display: grid;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.root > * {
  grid-column: 4;
}
.h1___60IV {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.text___43Vos {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
