.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 32px;
  }
}
.typical {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.typical > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.typical > :global(.__wab_flex-container) > *,
.typical > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.typical > :global(.__wab_flex-container) > picture > img,
.typical
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .typical {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .typical > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .typical > :global(.__wab_flex-container) > *,
  .typical > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .typical > :global(.__wab_flex-container) > picture > img,
  .typical
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.typicalmode_loggingIn {
  display: none;
}
.img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__aycCp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__aycCp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__aycCp > :global(.__wab_flex-container) > *,
.freeBox__aycCp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aycCp > :global(.__wab_flex-container) > picture > img,
.freeBox__aycCp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aycCp > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aycCp > :global(.__wab_flex-container) > *,
  .freeBox__aycCp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aycCp > :global(.__wab_flex-container) > picture > img,
  .freeBox__aycCp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.authButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__wj7C2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__yGbId {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__iWwuk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___6Rl1R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eecJd {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ejqZl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.login {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.loginmode_typical {
  display: none;
}
.loginmode_loggingIn {
  display: flex;
}
.button__kNmXw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mMKtd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eSt7L {
  height: auto;
}
.svg__waDp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
